{% extends '@EasyAdmin/layout.html.twig' %}
{% block content %}
	<div class="jumbotron">

		<h1 class="display-4">YMNA TRADING SARL
		</h1>
		<p class="lead">
			Bienvenue dans l'interface administration YMNA TRADING SARL
		</p>
		<img style="width: 500px ; margin-left:190px" src="img/LOGO.JPG" class="z-index" alt=""/>

	</div>
{% endblock %}
