{% extends '@EasyAdmin/layout.html.twig' %}
{% block content %}
	<div class="jumbotron">

		<h1 class="display-4">FOURNISSEUR
		</h1>
		<p class="lead">
			Bienvenue dans l'interface administration FOURNISSEUR
		</p>
		<img style="width: 650 px" src="img/LOGO_MENU.png" class="z-index" alt=""/>

	</div>
{% endblock %}
